<form [formGroup]="TestFromGroup" (ngSubmit)="onSubmit(TestFromGroup.value)" class="form">
  <mat-form-field class="form-element">
    <input matInput placeholder="name" formControlName="name">
    <mat-error *ngIf="!TestFromGroup.controls['name'].valid && TestFromGroup.controls['name'].touched">
      {{ 'name error'}}
    </mat-error>
  </mat-form-field>
  <!-- <mat-form-field >
    <input matInput placeholder="category" >
 
  </mat-form-field> -->

  <mat-form-field appearance="fill" class="form-element">
      <input style="display: none;" formControlName="id" name="" id="">
    <mat-label>Select category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="phone">phone</mat-option>
      <mat-option value="tech">tech</mat-option>
    </mat-select>
    <mat-error *ngIf="!TestFromGroup.controls['category'].valid && TestFromGroup.controls['category'].touched">
        {{ 'category error'}}
      </mat-error>
  </mat-form-field>


  <mat-form-field class="form-element">
    <input matInput placeholder="price" formControlName="price" type="number">
    <mat-error *ngIf="!TestFromGroup.controls['price'].valid && TestFromGroup.controls['price'].touched">
      {{ 'price error'}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-element">
    <input matInput placeholder="quantity" formControlName="quantity" type="number">
    <mat-error *ngIf="!TestFromGroup.controls['quantity'].valid && TestFromGroup.controls['quantity'].touched">
      {{ 'quantity error'}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-element">
    <input matInput placeholder="img" formControlName="img" type="text">
    <mat-error *ngIf="!TestFromGroup.controls['img'].valid && TestFromGroup.controls['img'].touched">
      {{ 'img error'}}
    </mat-error>
  </mat-form-field>


  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button">Submit Form</button>
  </div>
</form>